.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0%;
  margin: 0%;
  width: 80px;
  
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center; 
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation a i.fa-circle-user {
  color: gray;
  
}

.wd-kanbas-navigation li.N-logo a {
  font-size: 30px;
  padding-bottom: 0%;
  color: red;
}

body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}

.wd-flex-grow-1 {
  flex-grow: 1;
}

.wd-width-85px {
  width: 85px;
}

.wd-bg-color-black{
  background-color: #212529;
}

.wd-div-fill-space{
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.wd-flex-row-Body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wd-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 125px;
  margin: 0px;
  margin-left: 20px;
}
.wd-navigation li {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: red;
  text-decoration: none;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-secondary {
  background-Color: #007BFF;
  color: white;
  padding: 5px 15px;
  text-Align: center;
  text-Decoration: none;
  display: inline-block;
  font-Size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border: none;
  border-Radius: 4px;
}

.form-control.my-1 {
  padding: 4px 10px; /* Reduced padding to make the input field look smaller */
  font-size: 14px; /* Adjust font size if needed */
  border-radius: 4px; /* Consistent rounded corners */
  border: 1px solid #ced4da; /* Border color */
  margin-bottom: .5rem; /* Margin at the bottom */
  height: 36px; 
  
  margin-right: 10px;
  padding-right: 10px;
}
.form-control.my-2 {
  padding: 10px 10px; /* More padding for larger textarea field */
  font-size: 16px; /* Standard font size for textarea */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ced4da; /* Default bootstrap border color */
  margin-bottom: 1rem; /* More spacing below textarea */
  min-height: 100px; /* Minimum height for textarea */
}

.btn-edit {
  background-color: #4CAF50;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  
}

.btn-delete{
  background-color: #f44336;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}